# This .gitignore file is for a Python project
# Python Virtual Environment
venv/

# Environment Variables
.env

# Python cache
__pycache__/
*.pyc
all_code.txt
getAllData.py

# Database file
database/
*.db
*.sqlite3

# IDE specific
.vscode/
.idea/